.c-header
    .header
      
      .left_menu.clearfix
        .icon-menu.icon-mobilephone
        .number
          .small_text Единый номер
          .bigtext 6666-565
        .worktime.clearfix
          i.icon.icon-btime(style='margin-top:2px;')
          .icoblock
            p.firstline
              | <span class="b1">РАБОТАЕМ С</span>
              | <span class="b2">9:00</span>
              | <span class="b1">ДО</span>
              | <span class="b2">21:00</span>
            p.secondline БЕЗ ВЫХОДНЫХ
            
      .right_menu
        .socnet
          a.soc_btn.soc_btn-vk(href='http://vk.com/vozimby', target='_blank')
            .vk
              
          a.soc_btn.soc_btn-mail
            .email
              
          a.soc_btn.soc_btn-skype
            .skype
              
          include ../tooltip/tooltip-skype
          include ../tooltip/tooltip-mail
              
        button#opinions-toggle.consult(data-toggle='modal' href='#opinions') Отзыв о курьере
        .work-pay Мы принимаем:
