.c-calculate-online
  .hr
  .columns.clearfix
    .column.column-citychecker
      .bhead-wrapper.fix
        h2.bhead Cписок основных городов
      form#citychecker.js-form(method='post', action='/api.php')
        input(name='form', value='citychecker', type='hidden')
        .jsform-body
          | Введите нужный город, чтобы узнать в какие дни осуществляется доставка.
          .control-group.only-control.last.noborder.clearfix
            input#checkcityinp(name='cityname', autocomplete='off', placeholder='      Введите нужный город', type='text')
        .jsform-submit
          input.btn(value='Узнать', type='submit')
        .jsform-result
          #citychecker-result
    .column.column-calculator
      .bhead-wrapper.fix
        h2.bhead
          span Узнать стоимость доставки
      form#calculation.js-form(method='post', action='/api.php')
        input(name='form', value='calculation', type='hidden')
        .jsform-body
          .control-group.first.control-group-sender.clearfix
            .labels
              label(for='clc-sender') Заказчик
            .controls
              .styled-select.filled
                select#clc-sender.nosubmit(required='', name='client-type')
                  option(value='0') Физическое лицо
                  option(value='1') Юридическое лицо
          .control-group.control-group-ctselect.last.clearfix
            .labels
              label(for='clc-typeid') Категория груза
            .controls
              .styled-select
                select#clc-calculation-type(name='calculation')
                  option(value='', selected='selected') - не выбрано -
                  option(value='2') Посылки/грузы
                  option(value='1') Из интернет магазина
          .control-group.control-group-typeid.hidden.clearfix
            .labels
              label(for='clc-typeid') Вид товара
            .controls
              .styled-select
                select#clc-typeid(name='rule')
                  option(value='', selected='') - выберите -
          .control-group.control-group-dimension.hidden.clearfix
            .labels
              label(for='clc-dimension') Габариты
            .controls
              #clc-dimension
                .clearfix
                  .inp-group
                    input.digit-only(name='length', placeholder='  длина', autocomplete='off', type='text')
                    span.lbl см.
                  .inp-group
                    input.nomargin.digit-only(name='width', placeholder='  ширина', autocomplete='off', type='text')
                    span.lbl см.
                  .inp-group.last
                    input.digit-only(name='height', placeholder='  высота', autocomplete='off', type='text')
                    span.lbl см.
                div(style='margin-left:237px; margin-top:10px;')
                  span.lbl.lbl-before Вес
                  input.nomargin.digit-only(name='weight', placeholder='0', autocomplete='off', type='text')
                  span.lbl.lbl-after кг.
          .control-group.control-group-cost.force-hidden.hidden.clearfix
            .labels
              label(for='clc-cost') Оценочная стоимость
            .controls
              input#clc-goodcost.nomargin.numeric(name='good-cost', placeholder='бел. руб.', type='text')
          .control-group.control-group-locality.control-group-localityfrom.hidden.clearfix
            .labels
              label(for='clc-localityfrom') Откуда
            .controls
              a.watch-on-map(href='javascript:void(0);')
                img.svg.map35(src='static/images/calculate-map.svg', width='28', height='28')
              input#clc-localityfrom.nomargin.clc-locality-input(name='locality-from', placeholder='Город', autocomplete='off', type='text')
              span.tip(data-toggle='tooltip', data-placement='right', data-original-title="Если вы не нашли в списке нужного вам населенного пункта, сообщите пожалуйста об\
              этом нашим менеджерам по общему номеру <span style='color:#1BA1DC;'>6666-565</span> и мы с радостью\
              добавим его к списку обслуживаемых городов") ?
            .controls.controls-fromstore.hidden
              input#clc-fromstore.prettyCheckable(name='fromstore', checked='', value='1', data-label='Со склада vozim.by', type='checkbox')
          .control-group.control-group-locality.control-group-localityto.hidden.clearfix
            .labels
              label(for='clc-localityto') Куда
            .controls
              a.watch-on-map(href='javascript:void(0);')
                img.svg.map35(src='static/images/calculate-map.svg', width='28', height='28')
              input#clc-localityto.nomargin.clc-locality-input(name='locality-to', placeholder='Город', autocomplete='off', type='text')
              span.tip(data-toggle='tooltip', data-placement='right', data-original-title="Если вы не нашли в списке нужного вам населенного пункта, сообщите пожалуйста об\
              этом нашим менеджерам по общему номеру <span style='color:#1BA1DC;'>6666-565</span> и мы с радостью\
              добавим его к списку обслуживаемых городов") ?
          .control-group.control-group-additional.last.hidden.clearfix
            .labels  
            .controls
              .clearfix
                .column
                  input#clc-delivery18.prettyCheckable(name='delivery18', value='1', data-label='Доставка до 18:00', type='checkbox')
                .column
                  span.tip(data-toggle='tooltip', data-placement='right', data-original-title="<div>Стандартное время доставки товаров и грузов с 8:30 до 21:00</div>\
                  <div>Данная услуга позволяет сократить время доставки до 18:00</div>\
                  <br/>\
                  <div>Стоимость <span style='color:#1BA1DC;'>20 000</span></div>") ?
              .clearfix
                .column
                  input#clc-driver-help.prettyCheckable(name='driver-help', value='1', data-label='Помощь водителя', type='checkbox')
                .column
                  span.tip(data-toggle='tooltip', data-placement='right', data-original-title="<div>Товары весом до 15 кг.\
                  доставляться курьером до Дверей клиента,свыше 15 кг. до подъезда.</div>\
                  <div>Услуга <span style='color:#1BA1DC;'>помощь водителя</span>\
                  подразумевает помощь нашего сотрудника в перемещении груза до\
                  квартиры получателя в том числе и на нужный ему этаж.</div><br/>\
                  <div>Стоимость <span style='color:#1BA1DC;'>40 000</span></div>") ?
        .jsform-submit
          input.btn(value='Посчитать', type='submit')
        .jsform-result
          #clc-result
    .column.column-checker
      .bhead-wrapper
        h2.bhead
          | Проверить 
          br
          | состояние доставки
      form#rstatus.js-form(method='post', action='/api.php')
        input(name='form', value='rstatus', type='hidden')
        .jsform-body
          .control-group.first.clearfix
            .labels
              label(for='rst-series') Серия
            .controls
              input#rst-series(name='series', required='required', type='text')
          .control-group.last.clearfix
            .labels
              label(for='rst-number') Номер
            .controls
              input#rst-number(name='number', required='required', type='text')
        .jsform-submit
          input.btn(value='Проверить', type='submit')
        .jsform-result
          #rstatus-result
            .rstatus-res.hidden.clearfix.delivery
              i.icon.icon-status
              div Доставляется
            .rstatus-res.hidden.clearfix.return
              i.icon.icon-status
              div Возврат
            .rstatus-res.hidden.clearfix.planed
              i.icon.icon-status
              div(style='color:#7ad0f1;') Доставка на
            .rstatus-res.hidden.clearfix.delivered
              i.icon.icon-status
              div Доставлено
            .rstatus-res.clearfix.hidden.process
              i.icon.icon-status
              div
                | Заказ на складе.
                br
                | Тарифный план Эксрпресс
                br
                | Доставка в течении 2х дней

  .notice
    p * - Доставка за один день возможна при оформлении заказа по тарифному плану "Экспресс", а также согласно расписанию доставок из списка основных городов.
