.c-calculate-online
  .hr
  .columns.clearfix
    .column.column-citychecker
      include ../city-checker/city-checker
      
    .column.column-calculator
      include ../price-checker/price-checker
      
  .notice
    p * - Доставка за один день возможна при оформлении заказа по тарифному плану "Экспресс", а также согласно расписанию доставок из списка основных городов.
