.c-how-it-works-online
  .way-wrap
    .way-head.way-head1
      p Совершайте покупки, не выходя из дома, вместе с vozim.by!
      
    .way-head.way-head2
      p 1. Любой груз
      p Выберите любой, понравившийся Вам, товар! <br> В любом Интернет-магазине Беларуси
        
    .way-head.way-head3
      p 2. Закажите нашу доставку
      p Сообщите при оформлении заказа в Интернет-магазине, что желаете доставку фирмой vozim.by
      
    .way-head.way-head4
      p 3. Всего за 1 день!
      p И ожидайте свою покупку уже на следующий день. <br> В любую точку Беларуси!*
