#map-msk.c-popup.c-popup-map-msk.modal.fade(aria-hidden='true', aria-labelledby='myModalLabel', role='dialog', tabindex='-1')
  .modal-dialog.map-msk.with_close
    .modal-content
      .modal-body.clearfix
        iframe(src="https://yandex.ru/map-widget/v1/-/CBaSMYGkOB", width="560", height="400", frameborder="0")
