#news-modal.c-popup.c-popup-map.modal.fade
  .modal-dialog
    .modal-content
      .modal-header.clearfix
        h4.modal-title Новое направление доставки
        a.close(aria-hidden='true', data-dismiss='modal')
      .modal-body
        div Уважаемые клиенты! 
        p Рады сообщить Вам, что мы запустили новое направление: Минск-Москва-Минск. Доставка за 1-2 дня 7 дней в неделю!
        p Документы от 11руб, посылки от 14руб! За более подробной информацией обращайтесь к своему менеджеру, либо по номеру +375291980788
        p 
          a.popup-news-btn(href="/dostavka-minsk-moskva.html") Подробнее
