#callme.c-popup.c-popup-callme.modal.fade(aria-hidden='true', aria-labelledby='myModalLabel', role='dialog', tabindex='-1')
  .modal-dialog.callme.with_close
    .modal-content
      .modal-body.clearfix
        form.callme(method="post")
          .callme-dsc Оставьте ваши контакты и наш менеджер проконсультирует вас по стоимости и условиям работы.
          input(type="text", name="name", placeholder="Имя", required).callme-field
          input(type="text", name="phone", placeholder="Телефон", required).callme-field
          input(type="submit", value="Отправить").callme-btn
