#popup-spb.c-popup.c-popup-map.modal.fade
  .modal-dialog
    .modal-content
      .modal-header.clearfix
        h4.modal-title Москва и Питер
        a.close(aria-hidden='true', data-dismiss='modal')
      .modal-body
        p Доставка по направлению Москва и Питер с 23 января по 28 февраля не работает. 
        p С 1 февраля в штатном режиме.
