#news-modal.c-popup.c-popup-map.modal.fade
  .modal-dialog
    .modal-content
      .modal-header.clearfix
        h4.modal-title График работы
        a.close(aria-hidden='true', data-dismiss='modal')
      .modal-body
        p 7 января доставка по Беларуси не осуществляется. Далее в штатном режиме.
