#map-msk.c-popup.c-popup-map-msk.modal.fade(aria-hidden='true', aria-labelledby='myModalLabel', role='dialog', tabindex='-1')
  .modal-dialog.map-lg.map-msk.with_close
    .modal-content
      .modal-body.clearfix
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A334890e1b2adb019092b7f12a4a2523b5ee68b370cd68cd20dd9682c8ac49226&amp;width=1050&amp;height=570&amp;lang=ru_RU&amp;scroll=true"></script>
