#news-modal.c-popup.c-popup-map.modal.fade
  .modal-dialog
    .modal-content
      .modal-header.clearfix
        h4.modal-title Режим работы на новогодние праздники
        a.close(aria-hidden='true', data-dismiss='modal')
      .modal-body
        div Доставка по РБ: Работает без выходных по 30.12 включительно. 
        div Выходные: 31, 1, 2, 3. 
        hr 
        div Доставка по Минску: Работает без выходных по 31.12 включительно. 
        div Выходные 1,2. 
        hr 
        div Склад и Call-центр Работает без выходных с 9:00 до 21:30. 31.12.2016 с 10:00 до 15:00 Выходные 1,2.
