#map-rb.c-popup.c-popup-map-rb.modal.fade(aria-hidden='true', aria-labelledby='myModalLabel', role='dialog', tabindex='-1')
  .modal-dialog.map-rb.with_close
    .modal-content
      .modal-body.clearfix
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Abee647ec6d13346cada01697cc79dd0066b3f82b92ad40254e3b00577069b867&amp;width=1050&amp;height=570&amp;lang=ru_RU&amp;scroll=true"></script>
