#map-spb.c-popup.c-popup-map-spb.modal.fade(aria-hidden='true', aria-labelledby='myModalLabel', role='dialog', tabindex='-1')
  .modal-dialog.map-lg.map-spb.with_close
    .modal-content
      .modal-body.clearfix
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab7dcc1573ae94db5b148e2c046c924c954243d0cf5b9c58743d4f4809c53d942&amp;width=1050&amp;height=570&amp;lang=ru_RU&amp;scroll=true"></script>
