#calculator-map-modal.c-popup.c-popup-map.modal.fade
  .modal-dialog
    .modal-content
      .modal-header.clearfix
        h4.modal-title Населенный пункт
        a.close(aria-hidden='true', data-dismiss='modal')
      .modal-body
        #calculator-map-canvas(style='width:570px; height:300px;')
