#map-rb.c-popup.c-popup-map-rb.modal.fade(aria-hidden='true', aria-labelledby='myModalLabel', role='dialog', tabindex='-1')
  .modal-dialog.map-rb.with_close
    .modal-content
      .modal-body.clearfix
        Тут что?
