#news-modal.c-popup.c-popup-map.modal.fade
  .modal-dialog
    .modal-content
      .modal-header.clearfix
        h4.modal-title Новый адрес офиса
        a.close(aria-hidden='true', data-dismiss='modal')
      .modal-body
        p Внимание! Офис vozim.by переехал на новый адрес: ул. Могилёвская, д. 2, корп. 2.
        p +375 (33) 353-82-34 (МТС)
        p +375 (29) 681-06-60 (Velcom)
        
