#governance.c-popup.c-popup-governance.modal.fade(aria-hidden='true', aria-labelledby='myModalLabel', role='dialog', tabindex='-1')
  .modal-dialog.governance.with_close
    .modal-content
      .modal-body.clearfix
        a.close(aria-hidden='true', data-dismiss='modal')
        .title Прямая линия с руководством
        .body
          p Если с Вами некорректно разговаривали или дали неправильную информацию. У Вас есть замечания по работе сотрудников нашей компании или появились иные вопросы - смело звоните по номеру:
          p +375 (29) 647-60-85 (Velcom) - Анатолий.
          p Email: <a href="mailto:info@vozim.by">info@vozim.by</a>
          p Все замечания и предложения будут приняты, а недостатки устранены.
          p Мы хотим, чтобы наше сотрудничество вызывало у Вас только положительные эмоции!
