#news-modal.c-popup.c-popup-map.modal.fade
  .modal-dialog
    .modal-content
      .modal-header.clearfix
        h4.modal-title График работы
        a.close(aria-hidden='true', data-dismiss='modal')
      .modal-body
        p Крайний день приема заказов 29 декабря. Крайний день доставки по РБ и Москва 30 декабря.
        p 1 и 2 января выходной. С 3 января в штатном режиме.
        
