.c-advantages
  div
    
    .bage_field
      .icon.icon-mac
      .title Доставка за 1 день
      p 95% заявок по тарифу "стандарт" доставляются в течение 1 дня
      
    .bage_field
      .icon.icon-percent
      .title До 1500 кг.
      p Доставим документы, мелкие посылки и грузы до 1,5 тонн
      
    .bage_field
      .icon.icon-message
      .title Онлайн заполнение заявок
      p
        | Для вас личный кабинет с возможностью онлайн заполнения заявок и полным отчетом по доставкам
        
    .bage_field
      .icon.icon-time
      .title Cопровождение отправления
      p
        | Наши диспетчеры заранее уведомляют получателя о времени доставки и следят за ее удачным завершением
  .clear
