block variables
  - var page
  - var title

doctype html
html
  head
    title= title
    meta(http-equiv='content-type' content='text/html;charset=utf-8')
    link(rel='shortcut icon' href='static/images/favicon.ico' type='image/vnd.microsoft.icon')
    link(rel='stylesheet' href='vendor.css')
    link(rel='stylesheet' href='styles.css')
    
  body(class='c-page-' + page)
    .g-container
      block content

    include ../../components/popup/popup-opinions
    include ../../components/popup/popup-governance
    include ../../components/popup/popup-map
      
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='//maps.googleapis.com/maps/api/js?key=AIzaSyCHTJEYsjlRq6W6AWKeaZQFs6L3feYCMOc&sensor=false&ver=1')
    script(src='vendor.js')
    script(src='scripts.js')
