<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "LocalBusiness",
  "address": {
    "@type": "PostalAddress",
    "addressCountry": "BY",
    "addressLocality": "Минск",
    "addressRegion": "Минск",
    "streetAddress": "ул. Захарова 76"
  },
  "description": "Служба доставки по Беларуси vozim.by - доставка в любой город, низкие цены, сжатые сроки. Курьерская служба доставки по РБ",
  "name": "Служба доставки Возим Бай",
  "telephone": "375 (29) 6666-565",
  "email": "info@vozim.by",
  "openingHours": "Mo,Tu,We,Th,Fr 09:00-21:00",
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": "53.893943",
    "longitude": "27.589667"
  },
  "sameAs": ["https://vk.com/vozimby"]
}
</script>
