.c-how-it-works
  .way-wrap
    
    .way-head.way-head1
      p Мечтали о <b>скоростной доставке</b> любого груза всего <b>за 1 день</b>?
      p Тогда можете убедиться, что <b>мечты сбываются!</b>
      
    .way-head.way-head2
      p Добро пожаловать к нам или
      p <b>вызовите курьера</b>
      
    .way-head.way-head3
      p <b>Оформите</b> стандартную
      p документацию
      
    .way-head.way-head4
      p <b>Передайте</b> груз нам
      p для дальнейшей доставки
