.c-price-checker
  .bhead-wrapper.fix
    h2.bhead
      span Узнать стоимость доставки
  form#calculation.js-form(method='post', action='javascript:void(0);')
    input(type='hidden', name='form', value='calculation')
    .jsform-body
      .control-group.first.control-group-sender.clearfix
        .labels
          label(for='clc-sender') Заказчик
        .controls
          .styled-select.filled
            select#clc-sender.nosubmit(required='', name='client-type')
              option(value='0') Физическое лицо
              option(value='1') Юридическое лицо
      .control-group.control-group-ctselect.last.clearfix
        .labels
          label(for='clc-typeid') Категория груза
        .controls
          .styled-select
            select#clc-calculation-type(name='calculation')
              option(value='', selected='selected') - не выбрано -
              option(value='2') Посылки/грузы
              option(value='1') Из интернет магазина
      .control-group.control-group-typeid.hidden.clearfix
        .labels
          label(for='clc-typeid') Вид товара
        .controls
          .styled-select
            select#clc-typeid(name='rule')
              option(value='', selected='') - выберите -
      .control-group.control-group-dimension.hidden.clearfix
        .labels
          label(for='clc-dimension') Габариты
        .controls
          #clc-dimension
            .clearfix
              .inp-group
                input.digit-only(name='length', type='text', placeholder='  длина', autocomplete='off')
                span.lbl см.
              .inp-group
                input.nomargin.digit-only(name='width', type='text', placeholder='  ширина', autocomplete='off')
                span.lbl см.
              .inp-group.last
                input.digit-only(name='height', type='text', placeholder='  высота', autocomplete='off')
                span.lbl см.
            div(style='margin-left:237px; margin-top:10px;')
              span.lbl.lbl-before Вес
              input.nomargin.digit-only(name='weight', type='text', placeholder='0', autocomplete='off')
              span.lbl.lbl-after кг.
      .control-group.control-group-cost.force-hidden.hidden.clearfix
        .labels
          label(for='clc-cost') Оценочная стоимость
        .controls
          input#clc-goodcost.nomargin.numeric(name='good-cost', type='text', placeholder='бел. руб.')
      .control-group.control-group-locality.control-group-localityfrom.hidden.clearfix
        .labels
          label(for='clc-localityfrom') Откуда
        .controls
          a.watch-on-map(href='javascript:void(0);')
            img.c-svg-replace.map35(src='static/images/calculate-map.svg', width='28', height='28')
          input#clc-localityfrom.nomargin.clc-locality-input(name='locality-from', type='text', placeholder='Город', autocomplete='off')
          span.tip(data-toggle='tooltip', data-placement='right', data-original-title="Если вы не нашли в списке нужного вам населенного пункта, сообщите пожалуйста об\
          этом нашим менеджерам по общему номеру <span style='color:#1BA1DC;'>6666-565</span> и мы с радостью\
          добавим его к списку обслуживаемых городов") ?
        .controls.controls-fromstore.hidden
          input#clc-fromstore.prettyCheckable(type='checkbox', name='fromstore', checked='', value='1', data-label='Со склада vozim.by')
      .control-group.control-group-locality.control-group-localityto.hidden.clearfix
        .labels
          label(for='clc-localityto') Куда
        .controls
          a.watch-on-map(href='javascript:void(0);')
            img.c-svg-replace.map35(src='static/images/calculate-map.svg', width='28', height='28')
          input#clc-localityto.nomargin.clc-locality-input(name='locality-to', type='text', placeholder='Город', autocomplete='off')
          span.tip(data-toggle='tooltip', data-placement='right', data-original-title="Если вы не нашли в списке нужного вам населенного пункта, сообщите пожалуйста об\
          этом нашим менеджерам по общему номеру <span style='color:#1BA1DC;'>6666-565</span> и мы с радостью\
          добавим его к списку обслуживаемых городов") ?
      .control-group.control-group-additional.last.hidden.clearfix
        .labels &nbsp;
        .controls
          .clearfix
            .column
              input#clc-delivery18.prettyCheckable(type='checkbox', name='delivery18', value='1', data-label='Доставка до 18:00')
            .column
              span.tip(data-toggle='tooltip', data-placement='right', data-original-title="<div>Стандартное время доставки товаров и грузов с 8:30 до 21:00</div>\
              <div>Данная услуга позволяет сократить время доставки до 18:00</div>\
              <br/>\
              <div>Стоимость <span style='color:#1BA1DC;'>20 000</span></div>") ?
          .clearfix
            .column
              input#clc-driver-help.prettyCheckable(type='checkbox', name='driver-help', value='1', data-label='Помощь водителя')
            .column
              span.tip(data-toggle='tooltip', data-placement='right', data-original-title="\
                <div>Товары весом до 15 кг и максимальеым габаритом любой из сторон до 50 см доставляются курьером до дверей клиента, свыше 15 кг - до подъезда.</div>\
                <div>Услуга помощь водителя подразумевает выполнение действий по совместной помощи водителем в подъеме товара к получателю, весом до 70 кг и максимальным габаритом любой из сторон до 170 см.</div>\
                <br/>\
                <div>Стоимость <span style='color:#1BA1DC;'>40 000</span></div>") ?
    .jsform-submit
      input.g-button(type='submit', value='Посчитать')
    .jsform-result
      #clc-result
