//- .main-block.block-minsktbl
.c-price-table
  .wrap
    h3.line(style='font-size:19px;') Стоимость доставки
    table.pretty-table.tsp4.ivertbg(style='margin:0 auto;')
      thead
        tr
          th.thd1.tw1(rowspan='2', <span='', style='background-color: #3d9cd4;') Тариф
          th.tw2(rowspan='2')
            span Срок доставки*
          th.nospace(colspan='2')
            span(style='padding:4px 0px;') Стоимость, руб.
        tr
          th.nospace.tw3
            span для Физ. лиц
          th.nospace.tw4
            span для Юр. лиц
      tbody
        tr
          td.thd.tw1
            span(style='padding:6px 6px;')
              span СТАНДАРТ
          td.tw2
            span На завтра с 09:00 до 21:00
          td.tw3
            span(style='padding:6px 0px;')
              span 7,20 (72 000) руб.
          td.tw4
            span(style='padding:6px 0px;')
              span 8,00 (80 000) руб.
        tr
          td.thd.tw1
            span(style='padding:6px 6px;')
              span ЭКСПРЕСС
          td.tw2
            span Сегодня в течение 2 – 3 часов
          td.tw3
            span(style='padding:6px 0px;')
              span 12,00 (120 000) руб.
          td.tw4
            span(style='padding:6px 0px;')
              span 12,00 (120 000) руб.
        tr
          td.thd.tw1
            span Доставка на наш склад легковым автомобилем
          td.tw4(rowspan='2')
            span(style='padding:90px 0px;') В течение дня
          td.tw3(colspan='2')
            span(style='padding:35px 170px;') 5,00 (50 000) руб. (от&nbsp;5&nbsp;одновременных&nbsp;заказов&nbsp;&#8211;&nbsp;БЕСПЛАТНО)
        tr
          td.thd.tw1
            span Доставка на наш склад грузовым автомобилем
          td.tw4(colspan='2')
            span(style='padding:35px 170px;') 12,00 (120 000) руб.
    p
      br
    .main-block.block-minskinfo
      div(style='font-size:14px;margin-left:12px; text-align: left;')
        | В любом из тарифных планов Вы выбираете наиболее удобный Вам интервал доставки. Единственное ограничение – интервал не может быть менее 1 часа (например интервал с 15:00 до 16:00 мы принять к доставке сможем, а с 15:00 до 15:15 – не сможем).
        br
        br
        | * – указанный срок является минимальным для доставки Вашего отправления и по желанию заказчика может быть увеличен до необходимого Вам.
        br
        | ** – минимальный заказ грузового автомобиля составляет 2 часа.
      p
        br
        br
        br
