.c-tooltip-skype {

  .tooltip {
    padding-top: 8px;
    top: 43px;
    right: 37px;
  }
  .tooltip-arrow {
    left: 73.25%;
    top: 3px !important;
  }
}

.c-tooltip-mail {

  .tooltip {
    padding-top: 8px;
    top: 43px;
    right: 0;
  }
  .tooltip-arrow {
    left: 73.25%;
    top: 3px !important;
  }
}

.soc_btn-skype:hover ~ .c-tooltip-skype {
  display: block;
}
.c-tooltip-skype:hover {
  display: block;
}
.soc_btn-mail:hover ~ .c-tooltip-mail {
  display: block;
}
.c-tooltip-mail:hover {
  display: block;
}

.c-tooltip {
  display: none;

  .icon {
    background: url(static/images/sprite.png) 0 0 no-repeat;
  }
  .icon.icon-bskype {
    background-position: -654px -44px;
    width: 19px;
    height: 18px;
  }
  .icon {
    width: 58px;
    height: 63px;
    display: inline-block;
    background: url(static/images/sprite.png);
  }
  .tooltip.bottom {
    opacity: 1 !important;
  }
  .tooltip.bottom .tooltip-inner {
    white-space: nowrap;
    border-radius: 2px;
    background: white;
    color: #333;
    font-size: 12px;
    text-align: left;
    padding: 12px 13px 10px;
    line-height: 14px;
    box-shadow: #888 0 0 8px 2px;
  }
  .tooltip.bottom .tooltip-arrow {
    bottom: -3px;
    left: 50%;
    margin-left: -12px;
    border-width: 0 8px 8px;
    border-bottom-color: #fff;
  }
  .tooltip-inner li {
    margin-bottom: 5px;
  }
  #popup-skype {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  #popup-skype i {
    margin-bottom: -4px;
  }
  .icon.icon-bmail {
    background-position: -644px -62px;
    width: 19px;
    height: 12px;
  }
}
