- var type

div(class='c-tooltip c-tooltip-skype')
  .tooltip.bottom.in
    .tooltip-arrow
    .tooltip-inner
      ul#popup-skype
        li
          | Из Минска по РБ:
          br
          i.icon.icon-bskype
          a(href='skype:belarus.vozim.by?chat') belarus.vozim.by
        li
          | Из других городов по РБ:
          br
          i.icon.icon-bskype
          a(href='skype:belarus2.vozim.by?chat') porb.vozim.by
