.c-hero

  .map_block
    #sun_clouds(style='width:349px; height:389px; position:absolute; top:148px; left:36px; z-index:1;')
      div(style='width:500px; height: 389px; opacity: 1; background-image: url(static/images/hero-clouds.png); background-size: cover')
    #sun(style='height:500px; width:500px; position:absolute; top:105px; left:-58px; z-index:1;')
      div(style='width:500px; height: 500px; opacity: 1; background-image: url(static/images/hero-sun.png); background-size: cover')
        
    .map_inner
      .map_top
        a(href='/')
          .logo
        .info
          h2(style='text-transform:uppercase;')
            | Доставка за 
            b(style='font-size:32px;') 1
            |  день!
            br
            | В любой город Беларуси!
        .map_hint.minsk
          a(data-toggle='tooltip', data-placement='top', title="<div class='popline'>\
          <div class='office-line'><i class='icon icon-wbtown'></i> Офис:</div>\
          <div class='address-line'>Могилёвская, д.2, к.2</div>\
          <div class='time-line'><i class='icon icon-wbtime'></i> 9:00 - 21:00</div>\
          <div class='sklad-line'><i class='icon icon-wbsklad'></i> Склад:</div>\
          <div class='address-line'>ул. Захарова, 76</div>\
          <div class='time-line'><i class='icon icon-wbtime'></i> 10:00 - 21:30</div>\
          </div>")
          
        #cloud_1(style='height:440px;width:259px;position:absolute;top:110px; left:140px;')
          div(style='width:284px; height: 263px; position: absolute; bottom: 0px; opacity: 0.9; background-image: url(static/images/hero-clouds-shadow.png);z-index:1;')
          .cloud_l(style='background-image: url(static/images/hero-cloud.png);background-repeat: no-repeat;height:270px;width:270px;position: relative; z-index:1;')
        #cloud_2(style='height:440px;width:259px;position:absolute;top:260px; left:450px;')
          div(style='width:284px; height: 263px; position: absolute; bottom: 0px; opacity: 0.9; background-image: url(static/images/hero-clouds-shadow.png);z-index:1;')
          .cloud_l(style='background-image: url(static/images/hero-cloud.png);background-repeat: no-repeat;height:270px;width:270px;position: relative; z-index:1;')
        #cloud_3(style='height:440px;width:259px;position:absolute;top:260px; left:836px;')
          div(style='width:284px; height: 263px; position: absolute; bottom: 0px; opacity: 0.9; background-image: url(static/images/hero-clouds-shadow.png);z-index:1;')
          .cloud_l(style='background-image: url(static/images/hero-cloud.png);background-repeat: no-repeat;height:270px;width:270px;position: relative; z-index:1;')
        #cloud_4(style='height:440px;width:259px;position:absolute;top:365px; left:125px;')
          div(style='width:284px; height: 263px; position: absolute; bottom: 0px; opacity: 0.9; background-image: url(static/images/hero-clouds-shadow.png);z-index:1;')
          .cloud_l(style='background-image: url(static/images/hero-cloud.png);background-repeat: no-repeat;height:270px;width:270px;position: relative; z-index:1;')
        #cloud_5(style='height:440px;width:259px;position:absolute;top:445px; left:752px;')
          div(style='width:284px; height: 263px; position: absolute; bottom: 0px; opacity: 0.9; background-image: url(static/images/hero-clouds-shadow.png);z-index:1;')
          .cloud_l(style='background-image: url(images/bcloud.png);background-repeat: no-repeat;height:270px;width:270px;position: relative; z-index:1;')
        #cloudbg(style='height:270px;width:800px;position:absolute; top:-41px; left:488px; ')
          div(style='width:800px; height: 270px; top: 0px; opacity: 1; background-image: url(static/images/hero-background-cloud.png); z-index:1;')
            
      #drop
        .pulsar-wrapper
          img#pulsar1.pulsar(src='static/images/hero-pulsar.gif')
          img#pulsar2.pulsar(src='static/images/hero-pulsar.gif')
          img#pulsar3.pulsar(src='static/images/hero-pulsar.gif')
          img#pulsar4.pulsar(src='static/images/hero-pulsar.gif')
          img#pulsar5.pulsar(src='static/images/hero-pulsar.gif')
          img#pulsar6.pulsar(src='static/images/hero-pulsar.gif')
          img#pulsar7.pulsar(src='static/images/hero-pulsar.gif')
            
      .map
        img(alt='карта', src='static/images/hero-map.png', width='1200', height='485')
