.c-intro
  h1.line(style='') Доставка по городу Минску

  .main-block.block-minskinfo
    div Нужно быстро доставить груз в любую точку Минска? Экономьте время и нервы вместе с vozim.by!
    div Решать проблемы клиентов с доставкой груза – наша профессия.
