.c-how-it-works-msk
  .way-head Наши преимущества
  .way-wrap.clearfix
    .way-item.way-item1
      .way-ico.way-ico-lbl
      .way-title Низкие цены, от 30 руб.

    .way-item.way-item2
      .way-ico.way-ico-box
      .way-title Любой груз за 1-2 дня
        
    .way-item.way-item3
      .way-ico.way-ico-day
      .way-title Доставка 7 дней в неделю
