.spb
  .spb-p
    .spb-p-title Контакты:
    ul.spb-p-list.clearfix
      li +375 (29) 198-07-88
      li +375 (29) 530-73-38
      li +7 (812) 602 79 29

  .spb-bf.clearfix
    .spb-bf-item
      .spb-bf-item-title Быстрая доставка
      .spb-bf-item-data Склад - Склад до 2 дней. Любая точка РБ - Любая точка СПБ и ЛО до 3 дней
    .spb-bf-item
      .spb-bf-item-title Низкие цены
      .spb-bf-item-data От 15 BYN от 450 RUB
    .spb-bf-item
      .spb-bf-item-title Заберем в удобном месте и доставим в нужную точку
      .spb-bf-item-data Работаем по всей Беларуси и по всей Ленинградской области
    .spb-bf-item
      .spb-bf-item-title 
        div Индивидуальные
        div условия работы
      .spb-bf-item-data Для постоянных клиентов условия работы обсуждаются индивидуально
      
  .spb-stp
    .spb-stp-title Всего 4 простых шага и ваше отправление будет доставлено по адресу
    .spb-stp-items.clearfix
      .spb-stp-item.spb-stp-item--1
        .spb-stp-item-title Оставляете заявку
        .spb-stp-item-data Любым удобным для ваc способом: по телефону, Email, Viber, Skype.
      .spb-stp-item.spb-stp-item--2
        .spb-stp-item-title Согласовываете все условия с менеджером
        .spb-stp-item-data Стоимость, сроки, адреса доставки и получения, и другие условия.
      .spb-stp-item.spb-stp-item--3
        .spb-stp-item-title Осуществляем доставку менее, чем за 3 дня
        .spb-stp-item-data После получения отправления курьером или складом. Доставка Санкт-Петербург - Минск менее 48 часов.
      .spb-stp-item.spb-stp-item--4
        .spb-stp-item-title Оплата по факту
        .spb-stp-item-data Для Юр.Лиц условия могут отличатся.


  .spb-zn
    .spb-zn-title 
      div Наша зона обслуживания
      div Вся Беларусь и Санкт-Петербург
    
    .spb-zn-items.clearfix
      .spb-zn-item.spb-zn-item--l
        .spb-zn-item-title Офис в Минске
        .spb-zn-item-data

          .spb-zn-item-b Склад в Минске:
          .spb-zn-item-c 
            div ул. Захарова 76, Станция метро "Пролетарская"
            div Время работы: 10:00 - 21:30 без выходных

          .spb-zn-item-b Офис в Минске:
          .spb-zn-item-c 
            div ул. Чехова 3, Станция метро "Молодёжная"
            div Время работы: с 9:00 до 21:00, без выходных
            div Звонки принимаем с 9:00 до 21:00, без выходных

        .spb-zn-item-btn(data-toggle="modal", data-target="#map-rb") схема проезда
        
      .spb-zn-item.spb-zn-item--r
        .spb-zn-item-title Наши адреса в Санкт-Петербурге
        .spb-zn-item-data

          .spb-zn-item-b Склад в Питере:
          .spb-zn-item-c 
            div ул. Шкапина, д. 51Б, АЦ "ГАЗ", первые ворота. Станция метро "Балтийская"
            br
            div Время работы: понедельник - пятница, с 10:00 до 19:00

        .spb-zn-item-btn(data-toggle="modal", data-target="#map-spb") схема проезда


  .spb-price
    h2.spb-price-title Наши тарифы

    .spb-price-columns.clearfix
      .spb-price-column.spb-price-column--l
        table.spb-price-tbl.spb-price-tbl--fli
          thead
            tr
              th(colspan="2")
                div
                  p Доставка склад - склад.
                  p За 48 часов!
          tbody
            tr
              td
                div Вес посылки, кг
              td 
                div Цена доставки со склада в Санкт-Петербурге на склад в Минске, руб
            tr
              td
                div Документы
              td
                div 15р
            tr
              td
                div 0 — 2 кг
              td
                div 20р
            tr
              td
                div 3 — 9 кг
              td
                div 25р
            tr
              td
                div 10 — 19 кг
              td
                div 40р
            tr
              td
                div 20 — 29 кг
              td
                div 60р
            tr
              td
                div 30 — 49 кг
              td
                div 71р
            tr
              td
                div 50 — 100 кг
              td
                div 95р
            tr
              td
                div за послед. кг
              td
                div 0,48р
            tr
              td
                div 200 кг
              td
                div 217р
            tr
              td
                div за послед. кг
              td
                div 0,46р
            tr
              td
                div 500 кг
              td
                div 255р
            tr
              td
                div за послед. кг
              td
                div 0,42р
            tr
              td
                div 700кг и более
              td
                div индивидуально

      .spb-price-column.spb-price-column--r
        table.spb-price-tbl.spb-price-tbl--brd
          thead
            tr
              th(colspan="4")
                div 
                  p Дополнительные услуги.
                  p Доставить или забрать отправление по адресу:
          tbody
            tr
              td
                div В Минске
              td 
                div По Беларуси
              td 
                div В Питере в пределах КАД
              td 
                div В любой точке Ленинградской области
            tr
              td
                div 8р
              td
                div 12р
              td
                div 30р
              td
                div 45р
            tr
              td
                div 8р
              td
                div 12р
              td
                div 30р
              td
                div 45р
            tr
              td
                div 8р
              td
                div 12р
              td
                div 30р
              td
                div 45р
            tr
              td
                div 14р
              td
                div 14р
              td
                div 30р
              td
                div 45р
            tr
              td
                div 14р
              td
                div 14р
              td
                div 30р
              td
                div 45р  
            tr
              td
                div 14р
              td
                div 14р
              td
                div 30р
              td
                div 45р
            tr
              td
                div 14р
              td
                div 14р
              td
                div 30р
              td
                div 50р
            tr
              td
                div 
              td
                div 
              td
                div 0,27р за 1кг
              td
                div 0,3р за 1кг
            tr
              td
                div 20р
              td
                div 50р
              td
                div 
              td
                div 
            tr
              td
                div 
              td
                div 
              td
                div 
              td
                div 
            tr
              td
                div 20р
              td
                div 50р
              td
                div 
              td
                div 
            tr
              td
                div 
              td
                div 
              td
                div 
              td
                div 
            tr
              td(colspan="4")
                div индивидуально    

  .spb-callme
    .spb-callme-title
      div Непонятен процесс расчёта?
      div Наш менеджер поможет рассчитать конечную стоимость
    .spb-callme-btn(data-toggle="modal", data-target="#callme") Узнать стоимость
