.c-footer
  .dot
  .footer_menu
    
    .footer_col
      ul
        li
          a(href='/') Доставка по РБ
        hr
        li
          a(href='/dostavka-po-gorodu-minsku.html') Доставка по Минску
        hr
          
    .footer_col
      ul
        li
          a(href='/dostavka-minsk-moskva.html') Доставка Минск - Москва и М.О.
        hr
        li
          a(href='/dostavka-minsk-peterburg.html') Доставка Минск - Санкт-Петербург
        hr
        li
          a(target='_blank', href='https://vozi.by/') Грузоперевозки
        hr
            
    .footer_col
      ul
        li
          a(href='job.html') Работа у нас
        hr
        li
          a(data-target='#governance' data-toggle='modal') Связаться с руководством
        hr
          
    .footer_col.last(style='margin-top:19px;')
      .footer_col_head Мы принимаем:
      img(src='static/images/footer-pay-logo.jpg', alt='принимаем к оплате', width='179', height='71')
