.c-footer
  .dot
  .footer_menu
    
    .footer_col
      ul
        li
          a(href='/') Доставка по РБ
        hr
        li
          a(href='/dostavka-po-gorodu-minsku/') Доставка по Минску
        hr
          
    .footer_col
      ul
        li
          a(target='_blank', href='https://vozi.by/') Грузоперевозки
        hr
        li
          a(target='_blank', href='https://vozi.by/uri/lx5nTG') Пассажирские перевозки
          hr
            
    .footer_col
      ul
        li
          a(href='/job.html') Работа у нас
        hr
        li
          a(data-target='#governance', data-toggle='modal', href='') Связаться с руководством
        hr
          
    .footer_col.last(style='margin-top:19px;')
      .footer_col_head Мы принимаем:
      img(src='https://vozim.by/wp-content/themes/vozim/images/pay-logo2.jpg', alt='принимаем к оплате', width='179', height='71')
