.msk-route-p
  .msk-route-p-title Контакты:
  ul.msk-route-p-list.clearfix
    li +375 (29) 198-07-88
    li +375 (29) 530-73-38
    li +7 (495) 266 65 65
    
include ../how-it-works-msk/how-it-works-msk

.msk-route

  h2.msk-route-head Доставка Минск - Москва и М.О.
  .msk-route-adv.clearfix
    ul.msk-route-adv-list.msk-route-adv-list--first
      li Самые выгодные тарифы, от 11 рублей;
      li Ежедневное отправление и получение грузов;
      li Доставка в Москву в течение 1-2 рабочих дней;
      li Из любой точки Беларуси в любую точку Москвы и МО. 
      li Более 100 пунктов выдачи по Москве и Московской области;
      li Гарантия сохранности груза;
    ul.msk-route-adv-list.msk-route-adv-list--last
      li Личный менеджер;
      li Работаем 7 дней в неделю;
      li Извещение о доставке груза;
      li Индивидуальный подход к каждому клиенту;
      li Наличный, безналичный расчет;
      li Доставка с оптовых и розничных предприятий; 
      li Помощь в оформлении документов;
      li Помощь в выкупе товаров.
      
  
  .msk-route-partners  
    h2.msk-route-head Наши партнеры
    .msk-route-partners-ico

  .msk-route-price
    h2.msk-route-head Наши тарифы
    p Стоимость доставки склад-склад
    table.msk-route-price-tbl
      thead
        tr
          th 
            div Вес, кг
          th 
            div Цена, руб          
          th 
            div Вес, кг
          th 
            div Цена, руб
          th 
            div Вес, кг
          th 
            div Цена, руб
      tbody
        tr
          td
            div Документы
          td
            div 11 р
          td
            div 13
          td
            div 39,8 р
          td
            div 26
          td
            div 61,0 р
        tr
          td
            div 1
          td
            div 11 р
          td
            div 14
          td
            div 42,2 р
          td
            div 27
          td
            div 63,0 р
        tr
          td
            div 2
          td
            div 13,5 р
          td
            div 15
          td
            div 44,6 р
          td
            div 28
          td
            div 65,0 р
        tr
          td
            div 3
          td
            div 16,0 р
          td
            div 16
          td
            div 45,5 р
          td
            div 29
          td
            div 67,0 р
        tr
          td
            div 4
          td
            div 18,5 р
          td
            div 17
          td
            div 47,8 р
          td
            div 30
          td
            div 69,0 р
        tr
          td
            div 5
          td
            div 21,0 р
          td
            div 18
          td
            div 50,1 р
          td
            div 31-50
          td
            div 71,0 р
        tr
          td
            div 6
          td
            div 23,5 р
          td
            div 19
          td
            div 52,4 р
          td
            div 51-99
          td
            div 95,0 р
        tr
          td
            div 7
          td
            div 26,0р
          td
            div 20
          td
            div 54,7 р
          td
            div 100
          td
            div 95,0 р
        tr
          td
            div 8
          td
            div 28,5 р
          td
            div 21
          td
            div 55,0 р
          td
            div За последующий кг
          td
            div 0,48 р
        tr
          td
            div 9
          td
            div 31,0 р
          td
            div 22
          td
            div 57,2 р
          td
            div 200
          td
            div 217,0 р
        tr
          td
            div 10
          td
            div 33,5 р
          td
            div 23
          td
            div 59,4 р
          td
            div За последующий кг
          td
            div 0,46 р
        tr
          td
            div 11
          td
            div 35,0 р
          td
            div 24
          td
            div 61,6 р
          td
            div 500
          td
            div 255,0 р
        tr
          td
            div 12
          td
            div 37,4 р
          td
            div 25
          td
            div 63,8 р
          td
            div За последующий кг
          td
            div 0,42 

  
  .msk-route-srv.clearfix
    .msk-route-srv-col.msk-route-srv-col--first
      .msk-route-srv-head Дополнительные услуги:
      .msk-route-srv-head Доставка/Забор отправления по адресу в Минске: до 30кг - 4,50р,  от 30кг до 500кг - 12р.
      .msk-route-srv-head Доставка/Забор отправления по адресу по Беларуси: до 10кг - 8р,  до 40кг - 12р, до 100кг - 20р, до 500кг - 50р.
      .msk-route-srv-head Доставка/Забор отправления по адресу в Москве: до 25кг - 20р, за каждый последующий кг 0,27р.
      .msk-route-srv-head Доставка/Забор отправления по адресу в Московской области: до 25кг -  20р, за каждый последующий кг 0,3р.

    .msk-route-srv-col.msk-route-srv-col--last
      .msk-route-srv-p-line Контакты:
      .msk-route-srv-p-line +375 (29) 198-07-88
      .msk-route-srv-p-line +375 (29) 530-73-38
      .msk-route-srv-p-line +7 (495) 266 65 65
      .msk-route-srv-p-line 
        a(href="mailto:ru@vozim.by") ru@vozim.by
