.msk-p
  .msk-p-title Контакты:
  ul.msk-p-list.clearfix
    li +375 (29) 198-07-88
    li +375 (29) 530-73-38
    li +7 (495) 266 65 65
    
include ../how-it-works-msk/how-it-works-msk

.msk

  h2.msk-head Доставка Минск - Москва и М.О.
  .msk-adv.clearfix
    ul.msk-adv-list.msk-adv-list--first
      li Самые выгодные тарифы, от 15 рублей;
      li Ежедневное отправление и получение грузов;
      li Доставка в Москву в течение 1-2 рабочих дней;
      li Из любой точки Беларуси в любую точку Москвы и МО. 
      li Более 100 пунктов выдачи по Москве и Московской области;
      li Гарантия сохранности груза;
    ul.msk-adv-list.msk-adv-list--last
      li Личный менеджер;
      li Работаем 7 дней в неделю;
      li Извещение о доставке груза;
      li Индивидуальный подход к каждому клиенту;
      li Наличный, безналичный расчет;
      li Доставка с оптовых и розничных предприятий; 
      li Помощь в оформлении документов;
      li Помощь в выкупе товаров.
      
  
  .msk-partners  
    h2.msk-head Наши партнеры
    .msk-partners-ico

  .msk-price
    h2.msk-head Наши тарифы

    .msk-price-cols.clearfix
      .msk-price-column.msk-price-column--tbl
        .msk-price-title Стоимость доставки склад-склад
        table.msk-price-tbl
          thead
            tr
              th 
                div Вес, кг
              th 
                div Цена, руб
          tbody
            tr
              td
                div Документы
              td
                div 15,00
            tr
              td
                div от 1 до 9
              td
                div 25,00
            tr
              td
                div от 10 до 19
              td
                div 40,00
            tr
              td
                div от 20 до 29
              td
                div 60,00
            tr
              td
                div от 30 до 49
              td
                div 71,00
            tr
              td
                div от 50 до 100
              td
                div 95,00
            tr
              td
                div за послед. кг.
              td
                div 0,48
            tr
              td
                div 200
              td
                div 217,00
            tr
              td
                div за послед. кг
              td
                div 0,46
            tr
              td
                div 500
              td
                div 255,00
            tr
              td
                div за послед. кг
              td
                div 0,42
            tr
              td
                div 700 и более
              td
                div Индивидуально

      .msk-price-column.msk-price-column--data
        .msk-price-title Доп. услуги (доставка/забор отправления по адресу):
        .msk-price-data

          p По Минску:
          ul
            li легковой = 5,00 руб.
            li микроавтобус = 14,00 руб.

          p По Беларуси:
          ul
            li легковой = 12,00 руб.
            li микроавтобус до 100 кг = 14,00 руб.
            li микроавтобус до 500 кг = 50,00 руб.
            
          p По Москве:
          ul
            li до 25 кг = 20,00 руб.
            li за каждый послед. кг = 0,27 руб.
            
          p По Московской области:
          ul
            li до 25 кг = 40,00 руб.
            li за каждый послед. кг = 0,3 руб.
  
          p Объемный вес отправления определяется по формуле:  длина (cм) х ширина(cм) х высота(cм) / 5000 = … кг
  
          .msk-contact.msk-contact--title Контакты:
          .msk-contact +375 (29) 198-07-88
          .msk-contact +375 (29) 530-73-38
          .msk-contact +7 (495) 266 65 65
          .msk-contact
            a(href="mailto:ru@vozim.by") ru@vozim.by
