extends layout/layout

block variables
  - var page = 'dostavka-po-gorodu-minsku'
  - var title = 'Доставка по городу Минску'

block content
  include ../components/header/header
  - var navigation = 2
  include ../components/navigation/navigation
  
  .g-page-content
    
    h1.g-line Доставка по городу Минску
    .intro
      div Нужно быстро доставить груз в любую точку Минска? Экономьте время и нервы вместе с vozim.by!
      div Решать проблемы клиентов с доставкой груза – наша профессия.
      
    include ../components/motivation/motivation
    include ../components/price-table/price-table
    
  include ../components/footer/footer
