extends layout/layout

block variables
  - var page = 'dostavka-minsk-moskva'
  - var title = 'Доставка Минск – Москва'

block content
  - var mainEmail = "ru@vozim.by"
  include ../components/header/header
  
  - var navigation = 4
  include ../components/navigation/navigation

  - var heroTitle = '<h2 style="text-transform:uppercase;font-size:25px;"><div>Доставка за <b style="font-size:30px;">1 – 2</b> дня!</div><div style="font-size:25px;">По направлению Москва – Беларусь!</div></h2>'
  include ../components/hero/hero
  
  .g-page-content
    h1.g-line Экспресс доставка из Москвы в Минск (всю Беларусь) за 1-2 дня
    include ../components/msk-route/msk-route

  include ../components/footer/footer
