extends layout/layout

block variables
  - var page = 'index'
  - var title = 'Служба доставки по Беларуси'

block content
  include ../components/header/header
  - var navigation = 1
  include ../components/navigation/navigation
  include ../components/hero/hero
  include ../components/advantages/advantages
  include ../components/how-it-works/how-it-works
  include ../components/calculate/calculate
  include ../components/footer/footer
