.c-calculate
  .hr
  .columns.clearfix
    
    .column.column-citychecker
      include ../city-checker/city-checker
            
    .column.column-calculator
      include ../price-checker/price-checker
            
    .column.column-checker
      include ../status-checker/status-checker
