.c-job-form
  
  form
    #jobinfo-wrap
      textarea#jobinfo1.jobinfo.first(placeholder='Укажите свои ФИО, возраст и образование', name='jobinfo1', style='overflow: hidden; word-wrap: break-word; height: 45px;')
      textarea#jobinfo2.jobinfo(placeholder='Чем Вы занимались ранее? Чего удалось достичь за это время?', name='jobinfo2', style='overflow: hidden; word-wrap: break-word; height: 45px;')
      textarea#jobinfo3.jobinfo(placeholder='На какое место в команде Вы претендуете? ', name='jobinfo3', style='overflow: hidden; word-wrap: break-word; height: 45px;')
      textarea#jobinfo4.jobinfo(placeholder='Какие идеи Вы готовы предложить, чтобы развитие компании было более прогрессивным?', name='jobinfo4', style='overflow: hidden; word-wrap: break-word; height: 45px;')
      textarea#jobinfo5.jobinfo.last(placeholder='Оставьте свои контактные данные!', name='jobinfo5', style='overflow: hidden; word-wrap: break-word; height: 45px;')

    div(style='text-align:center;margin-top:34px;')
      input.btn(type='submit', value='Отправить')
