@import 'base';
@import 'global';

@import '../components/header/header';
@import '../components/footer/footer';
@import '../components/navigation/navigation';
@import '../components/hero/hero';
@import '../components/advantages/advantages';
@import '../components/how-it-works/how-it-works';
@import '../components/calculate/calculate';
@import '../components/motivation/motivation';
@import '../components/price-table/price-table';
@import '../components/how-it-works-online/how-it-works-online';
@import '../components/calculate-online/calculate-online';
@import '../components/job-form/job-form';

@import '../components/popup/all';

@import '../components/city-checker/city-checker';
@import '../components/price-checker/price-checker';
@import '../components/status-checker/status-checker';

@import '../components/page-dostavka-po-gorodu-minsku/page-dostavka-po-gorodu-minsku';
@import '../components/page-job/page-job';

@import '../components/msk-route/msk-route';
@import '../components/how-it-works-msk/how-it-works-msk';
@import '../components/thanks/thanks';

@import '../components/hero-spb/hero-spb';
@import '../components/spb-route/spb-route';
