.c-motivation
  .way-wrap
    
    .way-head.way-head1
      p
        | Почему Вам 
        b нужна
        |  именно наша 
        b доставка
        |  по городу Минску?
      p
        
    .way-head.way-head2
      p
        | Вы 
        b экономите время!
      p Его ценность слишком высока.
      p
        
    .way-head.way-head3
      p
        | Каждая отправка 
        b под полным контролем.
      p Целостность и сохранность гарантируем.
      p
        
    .way-head.way-head4
      p
        | Оптимальные 
        b тарифы.
      p
    p
