.c-motivation
  .way-wrap
    
    .way-head.way-head1
      p Почему Вам  <b>нужна</b> именно наша <b>доставка</b> по городу Минску?
        
    .way-head.way-head2
      p Вы <b>экономите время!</b>
      p Его ценность слишком высока.
        
    .way-head.way-head3
      p Каждая отправка <b>под полным контролем</b>.
      p Целостность и сохранность гарантируем.
        
    .way-head.way-head4
      p Оптимальные <b>тарифы</b>.
