.c-city-checker {

  .jsform-body {
    padding-left: 9px;
  }
  #checkcityinp {
    width: 228px;
    margin: 0;
  }
  .control-group {
    padding: 0;
  }
  #citychecker-result {
    font-size: 18px;
    color: #00b5e1;
    margin: 25px 30px 0 9px;
  }
  .jsform-submit {
    padding-right: 58px;
  }
}
